@font-face{
  font-family: mina;
  src: url('Mina-Regular.ttf');
}

.clear{
  content: "";
  display: table;
  clear: both;
}

/*css da pagina de login*/

.login{
  background-image: url('../assets/imgs/login-metas.png');
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  margin: 0 auto;
}

.login-list{
  margin: 0 auto;
  margin-top: -90px;
}

.login-item{
  background-color: transparent;
  border-top: none;
}

.login-label{
  color: black !important;
  text-align: center;
  font-family: mina;
  font-size: 1.125em !important;
}

.login-input{
  width: 200px;
  border-bottom: 1px solid black;
  border-top: none;
}

.login-logo{
  margin: 15% 0;
  width: 180px;
  height: 160px;
  background-color: transparent;
}

.login-button{
  margin: 0 auto;
  margin-top: 25px;
  background-color: #002f5d;
  font-family: mina;
  text-transform: capitalize;
  text-align: center;
  padding: 5px 40px;
  font-size: 1.5em;
}

.register-button{
  margin: 0 auto;
  margin-top: 20px;
  background-color: #002f5d;
  font-family: mina;
  text-transform: capitalize;
  text-align: center;
  padding: 5px 30px;
  font-size: 1.5em;
}

.login-forget{
  color: #002f5d;
  font-family: mina;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.1em;
  text-decoration: underline;
}

/*borda branca do primeiro input na página de login*/
.item-md.item-block .item-inner{
  border: none;
}

/*borda branca do segundo input na página de login*/
.list-md .item-input:last-child {
  border: none;
}